$text-color-main: #333333;
$text-color-second: #ffffff;
$text-color-third: #7b7b7b;
$text-color-forth: #42a7c2;
$button-color: #42a7c2;
$border-color: #e1e8ef;
$border-color-second: #ced4da;
$border-color-third: #42a7c2;
$background-color: #eaf1f7;
$background-color-second: #ffffff;
