@import "DefineVars.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Define fonts */
@font-face {
  font-family: Noto-regular;
  src: url(../assets/font/Noto_Sans_JP/static/NotoSansJP-Regular.ttf);
}

@font-face {
  font-family: Noto-light;
  src: url(../assets/font/Noto_Sans_JP/static/NotoSansJP-Light.ttf);
}

@font-face {
  font-family: Noto-Bold;
  src: url(../assets/font/Noto_Sans_JP/static/NotoSansJP-Bold.ttf);
}

@font-face {
  font-family: Noto-Medium;
  src: url(../assets/font/Noto_Sans_JP/static/NotoSansJP-Medium.ttf);
}

/* Define inherit */
body {
  font-family: Noto-regular;
}

/* Define common */
.daddy {
  padding: 0 45px;
  overflow-x: hidden;
}

button {
  border: none;
  & > a {
    color: $text-color-second;
  }
}

.flex-container {
  position: relative;
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 160px;
  gap: 16px;
}
/* Define container for leftNavi and main*/

/* HEADER */
/* MENU */
// left-nav-bar
.leftNavi {
  top: 0;
  margin-right: 49px;
  text-align: center;
  border: 2px solid $border-color;
  transform: translateX(-150%);
  background-color: $background-color-second;
  transition: 0.2s ease;
  min-height: 214px;
  position: absolute;
  z-index: 9;
  height: 100vh;
  & > .noScrollBar {
    padding: 0 23px 0 21px;
    & > button.exit-button {
      margin: 0;
      height: 30px;
      width: 30px;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      & > i {
        font-size: 15px;
        color: $text-color-second;
      }
    }
    & > img {
      margin-top: 31px;
      margin-bottom: 25.9px;
      width: 163.32px;
      height: 54.11px;
    }
    & > button {
      font-size: 18px;
      display: block;
      font-family: Noto-Bold;
      background-color: $button-color;
      border-radius: 5px;
      margin-bottom: 29px;
      white-space: nowrap;
      & > a {
        line-height: 43px;
        display: block;
        padding: 8px 19px 9px 21px;
        letter-spacing: 1.5px;
      }
    }
  }

  & a {
    text-decoration: none;
  }

  & > ul {
    list-style: none;
    text-align: left;
    overflow-y: auto;
    max-height: calc(100vh - 15rem);
    // & > li:nth-of-type(1) > a {
    //   & > span:nth-of-type(2) {
    //     margin-left: 24px;
    //   }
    // }

    // & > li:nth-of-type(2) > a {
    //   & > span:nth-of-type(2) {
    //     margin-left: 104px;
    //   }
    // }

    // & > li:nth-of-type(3) > a {
    //   & > span:nth-of-type(2) {
    //     margin-left: 25px;
    //   }
    // }

    // & > li:nth-of-type(4) > a {
    //   & > span:nth-of-type(2) {
    //     margin-left: 24px;
    //   }
    // }

    // & > li:nth-of-type(5) > a {
    //   & > span:nth-of-type(2) {
    //     margin-left: 139px;
    //   }
    // }

    & > li > a {
      font-size: 16px;
      color: $text-color-main;
      line-height: 70px;
      padding-left: 19px;
      padding-right: 22px;
      display: flex;
      border-top: 1px solid $border-color;
      & span:nth-child(2) {
        color: $button-color;
        margin-left: auto;
      }
    }
  }
}

nav.open {
  position: fixed;
  transform: translateX(-20%);
  height: 100%;
}
/* MAIN */
/* MAIN HEADER */
.main-header {
  margin-top: 30px;
  font-size: 14px;
  & > .first-row {
    display: flex;
    margin-bottom: 18px;
    & > a:nth-of-type(1) {
      text-decoration: none;
      color: $text-color-third;
      & > i {
        font-size: 15.89px;
        margin-right: 10.1px;
      }
    }

    & > div:nth-child(2) {
      margin-left: auto;
      & > a:nth-of-type(1) {
        text-decoration: none;
        color: $text-color-third;
        margin-right: 26.3px;
        & > span:nth-of-type(1) {
          margin-right: 5px;
        }
      }
      & > a:nth-of-type(2) {
        text-decoration: none;
        color: $text-color-third;
        & > span:nth-of-type(1) {
          margin-right: 7.7px;
        }
      }
    }
  }
  & > .second-row {
    font-size: 16px;
    background-color: #eaf1f7;
    padding: 20px 100px 20px 85px;
    display: flex;
    border-radius: 45px;
    align-items: center;
    & > span:nth-of-type(1) {
      flex-grow: 1;
      text-align: center;
      font-size: 24px;
      font-family: Noto-Bold;
    }
    & > input {
      border-radius: 25px;
      outline: none;
      border: 1px solid $border-color-second;
      margin-right: 13px;
      line-height: 49px;
      flex-grow: 1;
      background-image: url(../images/fa-solid\ fa-magnifying-glass.png);
      background-repeat: no-repeat;
      background-position: 16px;
      padding: 0 48px 0 48px;
      display: none;
      &::placeholder {
        font-size: 16px;
        color: #afafaf;
      }
    }
    & > button {
      background-color: $button-color;
      border-radius: 10px;
      display: none;
      white-space: nowrap;
      padding: 0 31px;
      height: 49px;
      font-size: 16px;
      padding: 0 31px;
      color: $text-color-second;
    }
  }
}

.sticky-menu {
  display: flex;
  padding: 10px 5px 0 5px;
  background-color: $background-color-second;
  position: sticky;
  top: 0;
  z-index: 8;
  margin-bottom: 48.5px;
  & > input {
    border-radius: 25px;
    border: 1px solid $border-color-second;
    margin-right: 13px;
    line-height: 49px;
    flex-grow: 1;
    outline: none;
    background-image: url(../images/fa-solid\ fa-magnifying-glass.png);
    background-repeat: no-repeat;
    background-position: 16px;
    padding: 0 48px 0 48px;
    &::placeholder {
      font-size: 16px;
      color: #afafaf;
    }
  }
  & > button:nth-of-type(1) {
    background-color: $button-color;
    border-radius: 10px;
    margin-right: 13px;
    padding: 0 10px;
    & > i {
      font-size: 30px;
      color: $text-color-second;
    }
  }
  & > button:nth-of-type(2) {
    background-color: $button-color;
    border-radius: 10px;
    white-space: nowrap;
    font-size: 16px;
    padding: 0 31px;
    color: $text-color-second;
  }
  & > button:last-child {
    margin-right: 0;
  }
}
/* 利用シーン別ガイド */
.scenes-guide {
  & > .first-row {
    display: flex;
    align-items: center;
    margin-bottom: 22.9px;
    & > div:nth-child(2) {
      margin-left: 20.3px;
      & > h2 {
        font-size: 26px;
        font-family: Noto-Bold;
        color: $text-color-forth;
        margin-bottom: 11px;
      }
      & > span {
        font-size: 16px;
        color: $text-color-main;
        margin-left: 3px;
      }
    }
  }
  & > .second-row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    margin-bottom: 80px;
    grid-auto-rows: 145px;
    & > a:nth-child(1) {
      & img {
        margin-top: 22px;
        margin-bottom: 13px;
      }
      & p {
        max-width: 216px;
        margin-bottom: 27px;
      }
    }
    & > a:nth-child(2) {
      & img {
        margin-top: 24px;
        margin-bottom: 12.5px;
      }
      & p {
        max-width: 216px;
        margin-bottom: 27px;
      }
    }
    & > a:nth-child(3) {
      & img {
        margin-top: 21.8px;
        margin-bottom: 13.7px;
      }
      & p {
        max-width: 162px;
        margin-bottom: 42px;
      }
    }
    & > a:nth-child(4) {
      & img {
        margin-top: 31.3px;
        margin-bottom: 15.5px;
      }
      & p {
        max-width: 198px;
        margin-bottom: 43px;
      }
    }
    & > a:nth-child(5) {
      & img {
        margin-top: 26.2px;
        margin-bottom: 14.2px;
      }
      & p {
        max-width: 198px;
        margin-bottom: 42px;
      }
    }
    & > a:nth-child(6) {
      & img {
        margin-top: 31.3px;
        margin-bottom: 2.2px;
      }
      & p {
        max-width: 234px;
        margin-bottom: 24px;
      }
    }
    & > .container {
      border: 1px solid $border-color-third;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      text-decoration: none;
      & > .content {
        text-align: center;
        & > p {
          font-size: 18px;
          color: $text-color-forth;
          font-family: Noto-Bold;
        }
      }
    }
  }
}

/* 検査結果画面の解説 */

.explain {
  & > .first-row {
    display: flex;
    align-items: center;
    margin-bottom: 22.9px;
    & > div:nth-child(2) {
      margin-left: 20.3px;
      & > h2 {
        font-size: 26px;
        font-family: Noto-Bold;
        color: $text-color-forth;
        margin-bottom: 15.9px;
      }
      & > span {
        font-size: 16px;
        color: $text-color-main;
        margin-left: 3px;
      }
    }
  }
  // 適性検査のアウトプット
  & > .second-row {
    border-top: 1px solid $border-color-third;
    margin-bottom: 50px;
    & > h3 {
      color: $text-color-forth;
      font-size: 20px;
      font-family: Noto-Bold;
      margin-top: 21.1px;
      margin-bottom: 17.8px;
      display: inline-block;
      position: relative;
      &::before {
        content: "";
        width: 100%;
        height: 4px;
        position: absolute;
        top: -21.5px;
        background-color: $border-color-third;
      }
    }
    & > .second-row-content {
      & > a:nth-of-type(1) {
        & > .content {
          & > img {
            margin-top: 33.9px;
            margin-bottom: 22.3px;
          }
          & > p {
            margin-bottom: 19px;
          }
        }
      }
      & > a:nth-of-type(2) {
        & > .content {
          & > img {
            margin-top: 42.7px;
            margin-bottom: 33.5px;
          }
          & > p {
            margin-bottom: 18px;
          }
        }
      }
      & > a:nth-of-type(3) {
        & > .content {
          & > img {
            margin-top: 36px;
            margin-bottom: 28.7px;
          }
          & > p {
            margin-bottom: 15px;
          }
        }
      }
      & > .container {
        background-color: $background-color;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 8px;
        & > .content {
          text-align: center;
          height: 100%;
          & > p {
            font-size: 16px;
            font-family: Noto-Medium;
            display: block;
            color: $text-color-forth;
          }
        }
      }
    }
  }
  // 企業傾向分析
  & > .third-row {
    border-top: 1px solid $border-color-third;
    margin-bottom: 50px;
    & > h3 {
      color: $text-color-forth;
      font-size: 20px;
      font-family: Noto-Bold;
      margin-top: 21.1px;
      margin-bottom: 17.8px;
      display: inline-block;
      position: relative;
      &::before {
        content: "";
        width: 100%;
        height: 4px;
        position: absolute;
        top: -21.5px;
        background-color: $border-color-third;
      }
    }
    & > .third-row-content {
      & > a:nth-of-type(1) {
        & > .content {
          & > img {
            margin-top: 30px;
            margin-bottom: 25.5px;
          }
          & > p {
            margin-bottom: 24px;
          }
        }
      }
      & > a:nth-of-type(2) {
        & > .content {
          & > img {
            margin-top: 29.8px;
            margin-bottom: 22px;
          }
          & > p {
            margin-bottom: 18px;
          }
        }
      }
      & > a:nth-of-type(3) {
        & > .content {
          & > img {
            margin-top: 31px;
            margin-bottom: 22.4px;
          }
          & > p {
            margin-bottom: 26.1px;
          }
        }
      }
      & > a:nth-of-type(4) {
        & > .content {
          & > img {
            margin-top: 35.6px;
            margin-bottom: 31.9px;
          }
          & > p {
            margin-bottom: 24.1px;
          }
        }
      }
      & > .container {
        background-color: $background-color;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 8px;
        & > .content {
          text-align: center;
          height: 100%;
          & > p {
            font-size: 16px;
            font-family: Noto-Medium;
            display: block;
            color: $text-color-forth;
          }
        }
      }
    }
  }
  // 検査結果詳細
  & > .forth-row {
    border-top: 1px solid $border-color-third;
    margin-bottom: 50px;
    & > h3 {
      color: $text-color-forth;
      font-size: 20px;
      font-family: Noto-Bold;
      margin-top: 21.1px;
      margin-bottom: 17.8px;
      display: inline-block;
      position: relative;
      &::before {
        content: "";
        width: 100%;
        height: 4px;
        position: absolute;
        top: -21.5px;
        background-color: $border-color-third;
      }
    }
    & > .forth-row-content {
      & > a:nth-of-type(1) {
        & > .content {
          & > img {
            margin-top: 31.6px;
            margin-bottom: 27px;
          }
          & > p {
            margin-bottom: 25px;
          }
        }
      }
      & > a:nth-of-type(2) {
        & > .content {
          & > img {
            margin-top: 29px;
            margin-bottom: 24.6px;
          }
          & > p {
            margin-bottom: 25.2px;
          }
        }
      }
      & > .container {
        background-color: $background-color;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 8px;
        & > .content {
          text-align: center;
          height: 100%;
          & > p {
            font-size: 16px;
            font-family: Noto-Medium;
            display: block;
            color: $text-color-forth;
          }
        }
      }
    }
  }
}
// 主な機能
.main-feature {
  // 管理者
  & > .first-row {
    display: flex;
    align-items: center;
    margin-bottom: 40.1px;
    & > div:nth-child(2) {
      margin-left: 20.3px;
      & > h2 {
        font-size: 26px;
        font-family: Noto-Bold;
        color: $text-color-forth;
        margin-bottom: 15.9px;
      }
      & > span {
        font-size: 16px;
        color: $text-color-main;
        margin-left: 3px;
      }
    }
  }
  & > .second-row {
    & > .child-1 {
      // 管理者
      & > .first-row {
        border-top: 1px solid $border-color-third;
        margin-bottom: 44.9px;
        & > h3 {
          color: $text-color-forth;
          font-size: 20px;
          font-family: Noto-Bold;
          margin-top: 21.1px;
          margin-bottom: 19px;
          display: inline-block;
          position: relative;
          &::before {
            content: "";
            width: 100%;
            height: 4px;
            position: absolute;
            top: -21.5px;
            background-color: $border-color-third;
          }
        }
        & > a {
          display: block;
          font-family: Noto-Medium;
          font-size: 16px;
          line-height: 36px;
          color: $text-color-forth;
          text-decoration: none;
          width: fit-content;
        }
      }
      // 応募者
      & > .second-row {
        border-top: 1px solid $border-color-third;
        margin-bottom: 73.1px;
        & > h3 {
          color: $text-color-forth;
          font-size: 20px;
          font-family: Noto-Bold;
          margin-top: 21.1px;
          margin-bottom: 19px;
          display: inline-block;
          position: relative;
          &::before {
            content: "";
            width: 100%;
            height: 4px;
            position: absolute;
            top: -21.5px;
            background-color: $border-color-third;
          }
        }
        & > a {
          display: block;
          font-family: Noto-Medium;
          font-size: 16px;
          line-height: 36px;
          color: $text-color-forth;
          text-decoration: none;
          width: fit-content;
        }
      }
      // 適性検査
      & > .third-row {
        border-top: 1px solid $border-color-third;
        margin-bottom: 44.9px;
        & > h3 {
          color: $text-color-forth;
          font-size: 20px;
          font-family: Noto-Bold;
          margin-top: 21.1px;
          margin-bottom: 12.8px;
          display: inline-block;
          position: relative;
          &::before {
            content: "";
            width: 100%;
            height: 4px;
            position: absolute;
            top: -21.5px;
            background-color: $border-color-third;
          }
        }
        & > a {
          display: block;
          font-family: Noto-Medium;
          font-size: 16px;
          line-height: 36px;
          color: $text-color-forth;
          text-decoration: none;
          width: fit-content;
        }
      }
      // 契約について
      & > .forth-row {
        border-top: 1px solid $border-color-third;
        margin-bottom: 44.9px;
        & > h3 {
          color: $text-color-forth;
          font-size: 20px;
          font-family: Noto-Bold;
          margin-top: 21.1px;
          margin-bottom: 12.8px;
          display: inline-block;
          position: relative;
          &::before {
            content: "";
            width: 100%;
            height: 4px;
            position: absolute;
            top: -21.5px;
            background-color: $border-color-third;
          }
        }
        & > a {
          display: block;
          font-family: Noto-Medium;
          font-size: 16px;
          line-height: 36px;
          color: $text-color-forth;
          text-decoration: none;
          width: fit-content;
        }
      }
    }

    & > .child-2 {
      // 従業員
      & > .first-row {
        border-top: 1px solid $border-color-third;
        margin-bottom: 44.9px;
        & > h3 {
          color: $text-color-forth;
          font-size: 20px;
          font-family: Noto-Bold;
          margin-top: 21.1px;
          margin-bottom: 19px;
          display: inline-block;
          position: relative;
          &::before {
            content: "";
            width: 100%;
            height: 4px;
            position: absolute;
            top: -21.5px;
            background-color: $border-color-third;
          }
        }
        & > a {
          display: block;
          font-family: Noto-Medium;
          font-size: 16px;
          line-height: 36px;
          color: $text-color-forth;
          text-decoration: none;
          width: fit-content;
        }
      }
      & > .second-row {
        border-top: 1px solid $border-color-third;
        margin-bottom: 36.1px;
        & > h3 {
          color: $text-color-forth;
          font-size: 20px;
          font-family: Noto-Bold;
          margin-top: 21.1px;
          margin-bottom: 20px;
          display: inline-block;
          position: relative;
          &::before {
            content: "";
            width: 100%;
            height: 4px;
            position: absolute;
            top: -21.5px;
            background-color: $border-color-third;
          }
        }
        & > a {
          display: block;
          font-family: Noto-Medium;
          font-size: 16px;
          line-height: 36px;
          color: $text-color-forth;
          text-decoration: none;
          width: fit-content;
        }
      }
      // ダッシュボード機能
      & > .third-row {
        border-top: 1px solid $border-color-third;
        & > h3 {
          color: $text-color-forth;
          font-size: 20px;
          font-family: Noto-Bold;
          margin-top: 21.1px;
          margin-bottom: 12.8px;
          display: inline-block;
          position: relative;
          &::before {
            content: "";
            width: 100%;
            height: 4px;
            position: absolute;
            top: -21.5px;
            background-color: $border-color-third;
          }
        }
        & > a {
          display: block;
          font-family: Noto-Medium;
          font-size: 16px;
          line-height: 36px;
          color: $text-color-forth;
          text-decoration: none;
          width: fit-content;
        }
      }
    }
  }
}

/* FOOTER */
footer {
  background-color: #333333;
  padding: 27px 0 30.8px 0;
  position: relative;
  margin-top: 152.9px;
  & > div {
    font-size: 12px;
    color: $text-color-second;
    text-align: right;
    margin-right: 46px;
    z-index: 3;
  }
  &::after {
    content: "";
    background-color: #333333;
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: translateX(99%);
  }
  &::before {
    content: "";
    background-color: #333333;
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: translateX(-99%);
  }
}

/* RESPONSIVE LAYOUT */
@media (min-width: 768px) {
  .scenes-guide > .second-row {
    grid-template-columns: repeat(2, 1fr);
  }

  .explain > .second-row > .second-row-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .explain > .third-row > .third-row-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .explain > .forth-row > .forth-row-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .scenes-guide > .second-row {
    grid-template-columns: repeat(3, 1fr);
  }

  .explain > .second-row > .second-row-content {
    grid-template-columns: repeat(3, 1fr);
  }

  .explain > .third-row > .third-row-content {
    grid-template-columns: repeat(3, 1fr);
  }

  .explain > .forth-row > .forth-row-content {
    grid-template-columns: repeat(3, 1fr);
  }

  .sticky-menu {
    display: none;
  }

  .main-header {
    margin-bottom: 48px;
  }

  .flex-container {
    display: flex;
    & > main {
      flex-grow: 1;
    }
  }

  .daddy {
    padding: 0 45px;
    position: relative;
    overflow-x: clip;
  }

  .leftNavi {
    position: sticky;
    transform: translate(0);
    height: fit-content;
    top: 10px;
  }

  .leftNavi > .noScrollBar > button.exit-button {
    display: none;
  }

  .main-header > .second-row > span:nth-of-type(1) {
    font-size: 16px;
    font-family: Noto-Regular;
    flex-grow: 0;
    text-align: left;
    margin-right: 20px;
  }

  .main-header > .second-row > input {
    display: block;
  }

  .main-header > .second-row > button {
    display: block;
  }
}

@media (min-width: 1200px) {
  .explain > .second-row > .second-row-content {
    grid-template-columns: repeat(4, 1fr);
  }

  .explain > .third-row > .third-row-content {
    grid-template-columns: repeat(4, 1fr);
  }

  .explain > .forth-row > .forth-row-content {
    grid-template-columns: repeat(4, 1fr);
  }

  .main-feature > .second-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15.5px;
  }

  .main-feature > .second-row > .child-1 > .forth-row {
    margin-bottom: 0;
  }
}

@media (min-width: 1920px) {
  .daddy {
    padding-left: 360px;
    padding-right: 360px;
  }
}
